<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IHD</title>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/ihd.css') }}">
    <title>IHD</title>
</head>
<body>

<header>
    <ul>
        <li><a class="active" href="{{ url_for('homepage') }}">IHD</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
</header>

<div class="full-img-container">
    <div class="form-container">
        <div class="container">
            <h3>Upload Files</h3>
            <p>Here is the part where all the magic happens. Choose one, two or any number of dicom files that you wish
                and let the AI built in this application amaze you!</p>
            <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="files" id="file" accept=".dcm" multiple>
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
    <div class="margin"></div>
</div>

</body>
</html>